.main {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  color:$body-color;
  overflow: auto;
  padding:0;

  &__elastic {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: $body-bg;
    z-index:100;
    overflow: auto;

    &__introduction {
      color:white;
      padding:$spacer * 3 0;
      margin:0;
      background: url('../assets/images/people-coffee-notes-tea-high-contrast-green.jpg') no-repeat center center;
      background-size: cover;

      a {
        color:inherit;
        border-bottom: 1px solid rgba(white, .4);
      }
    }

    &__filters {
      color:white;
      background: #2d1431;
      padding-top:$spacer * 2;
      margin-bottom:$spacer * 2;

      .btn {
        color:inherit;
      }

      &__card {
        background: #463649;
      }

      &__title {
        font-size: 1.1em;
        padding:$spacer $spacer;
        border-bottom: 1px solid rgba(white, .1);
        margin:0;
        font-weight: bolder;
      }

      &__alert {
        margin-top:$spacer * 2;
        padding: $spacer;
        /* color:#776d59;
        background: #f7dba2; */
        border-top:1px dashed rgba(white, .1);
        font-weight: bolder;
        font-size:.9em;
      }
    }


    &__list {
      max-height: 30vh;
      overflow: auto;
      padding:0;
      margin:0;

      &__item {
        overflow: hidden;
        display:block;
        padding:$spacer/2 $spacer;
        text-align: left;
        cursor: pointer;
        color:mix(white, #463649, 70%);
        font-size:.9em;
        @include transition(0);

        &--reduced, &--reduced:active, &--reduced:focus, &--reduced:hover  {
          opacity: .5;
          height:0;
          line-height: 0;
          padding-top:0;
          padding-bottom:0;
          border:0;
          pointer-events: none;
          color:transparent;
        }

        &--active, &--active:active, &--active:focus, &--active:hover {
          background: #77A696;
          color: white;
        }

        .tag {
          background: rgba(black, .5);
          border-radius:1em;
          margin-top:0.2em;
        }
      }
    }

    &__card {
      margin-bottom: $spacer;
      border-radius:2px;
      padding:$spacer $spacer * 2;
      box-shadow:0 3px 0 0 darken($body-bg, 10);
      @include gradient-directional(darken($body-bg, 4), darken($body-bg, 2));
    }
  }

  &__heading {
    padding:$spacer * $line-height;
    border-radius: 3px;
    margin:0 auto;
    font-size: 1.1em;
    position: fixed;
    text-align: center;
    width: 100%;
    color: $chart-color;
    @include gradient-y($chart-bg, rgba($chart-bg, 0));

    &__description {
      font-family: $leads-font-family;
      font-size: 1em;
      font-weight: lighter;
    }

    &__tabs {
      display: inline-block;

      a {
        color:rgba($chart-color, .8);

        &.nav-link.active {
          color:$chart-color;
          font-weight: bold;
          box-shadow:0 3px 0 0 lighten(#48344C, 10);
          border-radius: 0 0 4px 4px;
        }
      }
    }
  }
}
