/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700|Fira+Sans:300&subset=latin,latin-ext');

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows: true;
$enable-transitions: true;
$enable-rounded: false;
$enable-flex: true;

// Body
//
$body-bg: #F2EEE8;
$body-color: #222;

// Colors
//
$brand-primary: #48344C;
$brand-info: #BAD7F3;
$brand-success: #77A696;
$brand-warning: #F7DBA2;
$brand-danger:#9E484F;
$link-color: #3D1C3D;


// States
//
$state-warning-bg: $brand-warning;
$state-warning-text: #3b311e;

$state-success-bg: $brand-success;
$state-success-text: #fff;

$state-info-bg: $brand-info;
$state-info-text: #fff;

$state-danger-bg: $brand-danger;
$state-danger-text: #fff;

// Fonts
//
$line-height: 1.5 !default;

// Headings
//
$headings-font-weight: 500;
$headings-font-family: "Montserrat", "Fira Sans", "Droid Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, sans-serif;

// Lead
//
$leads-font-family: "Fira Sans", $headings-font-family;

// Cards
//
$card-bg: #fffbf5;
$card-border-color: mix($card-bg, $body-color, 90);
$card-cap-bg: $card-border-color;

// Jumbotron
//
$jumbotron-bg: $card-bg;

// Lists
//
$list-group-bg: $card-bg;
$list-group-border-color: $card-border-color;

// Navs
//
$nav-link-hover-bg:             mix($card-bg, $body-bg);
$nav-disabled-link-color:       $card-bg;
$nav-disabled-link-hover-color: $card-bg;

$nav-tabs-border-color:                       transparent;
$nav-tabs-link-hover-border-color:            mix($card-bg, $body-bg);
$nav-tabs-active-link-hover-color:            $card-bg;
$nav-tabs-active-link-hover-bg:               $body-bg;
$nav-tabs-active-link-hover-border-color:     darken($card-border-color, 5);
$nav-tabs-justified-link-border-color:        darken($card-border-color, 5);
$nav-tabs-justified-active-link-border-color: $body-bg;

$nav-tabs-active-link-hover-bg: $card-bg;
$nav-tabs-active-link-hover-color: $body-color;
$nav-tabs-link-hover-border-color: rgba($body-color, .1);

// Navbar
//
$navbar-padding-y: 1rem;


// Forms
//
$input-border-focus:             #FEB24C;
$input-box-shadow-focus:         rgba($input-border-focus, .3);

// Thumbnails
//
$thumbnail-border-color: $card-border-color;

// Blockquote
//
$blockquote-font-size: 1em;

// Tables
//
$table-bg-accent: mix($card-bg, $card-border-color);
$table-border-color: $card-border-color;

// Popover
//
$popover-max-width: 425px;

// Chart
//
$chart-bg: #2d1431;
$chart-color: white;

// Internal mixins
@import "./mixins";

// Fix
//
.input-group select:not([size]):not([multiple]).form-control {
  height:$line-height * 1.6em;
}

a.btn:not(.btn-reverse):not(.btn-secondary):not(.btn-link) {
  color:#fff;
}

.card {
  box-shadow: 0 1px 2px 0 rgba(black, .1);
}

.btn.btn-outline {
  border:2px solid;
  border-radius: $line-height * 1em;
}

button.btn[type=submit] {
  font-weight: bold;
}

.lead {
  font-family: $leads-font-family;
  font-weight: 300;
}

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
